<header>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        {% if request.user.is_authenticated %}
            {% if perms.users.is_teacher %}
            <li><a href="{% url 'users:teachermypage' %}">{{ request.user.username }}</a></li>
            {% else %}
            <li><a href="{% url 'users:studentmypage' %}">{{ request.user.username }}</a></li>
            {% endif %}
        <li><a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'users:login' %}">Login</a></li>
        <li><a href="{% url 'users:teachersignup' %}">Teacher Signup</a></li>
        <li><a href="{% url 'users:studentsignup' %}">Student Signup</a></li>
        {% endif %}
    </ul>
</header>
