{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="single_page_container" class="container valign-wrapper">
	<div class="container">
		<h1 class="center">log <span class="mycolor-2-text">You</span> in</h1>
		<br>
<form action="{% url 'users:login' %}" method="POST">
    {% csrf_token %} 
		<div class="row center">
			<div class="col s10 offset-s1">
    <input type="hidden" name="next_page" value={{ request.GET.next }}>
    <input type="text" name="username" placeholder="username" required>
    <input type="password" name="password" placeholder="password" required>
			</div>
		</div>
		<br>
		<div class="row center">
		<button class="btn-large mycolor-2"  type="submit" name="action">Login
		</button>
		</div>
		<br><br>
</form>
	</div>
</div>
{% endblock %}
