{% load staticfiles %}<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE-Edge">
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=2.0, minimum-scale=0.5">
    
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/partials/header.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/partials/footer.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>   
<body>    
    {% include 'partials/header.html' %}
    {% include 'partials/messages.html' %}
    {% block content %}
    {% endblock %}
    {% include 'partials/footer.html' %}
      
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>
</body> 
</html>

