{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="home_container" class="container valign-wrapper">
	<div class="container">
		<br><br>
		<h1 class="header center">type<br><span class="mycolor-2-text">You</span></h1>
		<div class="row center">
			<h5 class="header col s12 light">typeYou is a smart education tool.</h5>
		</div>
		<div class="row center">
			{% if perms.users.create_question %}
			<form action="{% url "quizzes:create" %}" method="POST">
				{% csrf_token %}
				<button class="btn-large mycolor-2"  type="submit" name="action">Create Quiz
				</button>
			</form>
			{% else %}
				{% if request.user.is_authenticated %}
				<a href="{% url "quizzes:quiz_find" %}"><button class="btn-large mycolor-2">Solve Quiz</button></a>
				{% else %}
					<button class="modal-trigger btn-large mycolor-2" href="#modal2">Solve Quiz</button>
				{% endif %}
			{% endif %}
		</div>
		<br><br><br>
	</div>
</div>

<!-- Modal Structure -->
{% if request.user.is_authenticated and perms.users.create_question %}
{% else %}
<div id="modal2" class="modal">
	<div class="modal-content">
		<h4>Login Required</h4>
		<p>이 서비스는 로그인이 필요합니다. 로그인 페이지로 이동하시겠습니까? </p>
	</div>
	<div class="modal-footer">
		<a href="{% url "users:login" %}" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
{% endif %}

<div id="modal1" class="modal">
	<div class="modal-content">
		<h4>Solve Quiz</h4>
		<p>Enter the Quiz ID</p>
	</div>
	<div class="modal-footer">
		<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
	</div>
</div>
{% endblock %}
