<!-- if user access to question edit page, make a form, submit button, back button. else, print questions only -->
<ul>
{% for q in quiz.question_set.public reversed %}
<div id="question-{{ q.id }}" class="card">
	{% if q == question %}
    <h3>Edit Question {{ forloop.counter }}</h3>
	<form action="{% url "quizzes:question_update" slug1=quiz.hash_id slug2=q.id %}" method="POST">
	  {% csrf_token %}
		<div class="input-field">
			<input id="title" name="title" type="text" class="validate" value="{{ q.title }}">
			<label class="active" for="title">title</label>
		</div>
		<div class="input-field">
			<input id="ans1" name="ans1" type="text" class="validate" value="{{ q.ans1 }}">
			<label class="active" for="ans1">answer 1</label>
		</div>
		<div class="input-field">
			<input id="ans2" name="ans2" type="text" class="validate" value="{{ q.ans2 }}">
			<label class="active" for="ans2">answer 2</label>
		</div>
		<div class="input-field">
			<input id="ans3" name="ans3" type="text" class="validate" value="{{ q.ans3 }}">
			<label class="active" for="ans3">answer 3</label>
		</div>
		<div class="input-field">
			<input id="ans4" name="ans4" type="text" class="validate" value="{{ q.ans4 }}">
			<label class="active" for="ans4">answer 4</label>
		</div>
		<button class="btn waves-effect waves-light" type="submit" name="action">Submit
			<i class="material-icons right">send</i>
		</button>
		<a class="btn" href="{% url "quizzes:quiz_edit" slug=quiz.hash_id %}">Back</a>
	</form>
	{% else %}
		<li><h4><strong>{{ forloop.counter }}. {{ q.title }}</strong></h4></li>
        <li>
        <form action="{% url 'quizzes:question_answer_update' slug1=quiz.hash_id slug2=q.id %}" method="POST">
            {% csrf_token %}
            <p>
            <input name="answer" type="radio" id="{{ forloop.counter }}-1" value="{{ q.ans1 }}"/>
            <label for="{{ forloop.counter }}-1">{{ q.ans1 }}</label>
            </p>
            <p>
            <input name="answer" type="radio" id="{{ forloop.counter }}-2" value="{{ q.ans2 }}"/>
            <label for="{{ forloop.counter }}-2">{{ q.ans2 }}</label>
            </p>
            <p>
            <input name="answer" type="radio" id="{{ forloop.counter }}-3" value="{{ q.ans3 }}"/>
            <label for="{{ forloop.counter }}-3">{{ q.ans3 }}</label>
            </p>
            <p>
            <input name="answer" type="radio" id="{{ forloop.counter }}-4" value="{{ q.ans4 }}"/>
            <label for="{{ forloop.counter }}-4">{{ q.ans4 }}</label>
            </p>
            {% if is_quiz_edit_page %}
            {% if q.correct_ans %}Answer = {{ q.correct_ans }}{% else %}Please Set Answer{% endif %}
            </br>
            <input type="submit" value="Save Answer">
            {% endif %}
            </form>
        </li>
		{% if is_quiz_edit_page %}
        </br>
		<a class="btn" href="{% url "quizzes:question_edit" slug1=quiz.hash_id slug2=q.id %}">Edit</a>
		<a class="btn" href="{% url "quizzes:question_delete" slug1=quiz.hash_id slug2=q.id %}">Delete</a>
		{% endif %}
	{% endif %}
	</div>
{% endfor %}
</ul>
