{% extends 'base.html' %}

{% block title %}{{ site_name }}{% endblock %}

{% block content %}
<div id="single_page_container" class="container valign-wrapper">
	<div class="container">
		<h1 class="center">sign <span class="mycolor-2-text">You</span> up</h1>
		<form action="{% url 'users:teacherverification' %}" method="POST">
			{% csrf_token %} 
			<input type="text" name="first_name" placeholder="first name" required>
			<input type="text" name="last_name" placeholder="last name" required>
			<input type="text" name="phonenumber" placeholder="phonenumber" required>
			<input type="text" name="username" placeholder="username" required>
			<input type="password" name="password" placeholder="password" required>
		<div class="row center">
			<button class="btn-large mycolor-2"  type="submit" name="action">Signup
			</button>
		</div>
		<br>
		</form>
	</div>
</div>
{% endblock %}
